.popover {
  margin: 0;
  inset: auto;
  --arrow-length: 10px;
  --margin: 10px;

  right: calc(var(--arrow-length) + anchor(left));
  align-self: anchor-center;

  background: var(--background);
  padding: 10px;
  border: none;
  border-radius: 5px;
  border: 1px solid color-mix(in srgb, var(--secondary) 30%, transparent);
  margin: var(--margin);
  max-height: calc(100svh - 2 * var(--margin));
  max-width: 50vw;

  /* Tooltip arrow styles */
  &::before {
    content: '';
    position: absolute;
    position-anchor: inherit;
    width: 0;
    height: 0;
    border-top: var(--arrow-length) solid transparent;
    border-bottom: var(--arrow-length) solid transparent;
    border-left: var(--arrow-length) solid red;
    align-self: anchor-center;
    right: calc(var(--arrow-length) * -1);
  }

  /* Force scrollbar to be always shown(when overflow happens)
   otherwise dissapears on MacOS while user is not scrolling */
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: rgba(var(--primary-rgb), 0.2);
    width: 7px;
    height: 0;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(var(--primary-rgb), 0.5);
  }
}

.arrow {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: var(--arrow-length) solid transparent;
  border-bottom: var(--arrow-length) solid transparent;
  border-left: var(--arrow-length) solid red;
  top: anchor(center);
  right: calc(var(--arrow-length) * -1);
  transform: translateY(-50%);
}
