.popover {
  margin: 0;
  inset: auto;
  position-area: center left;
  position-try: bottom left, top left;
  background: var(--background);
  padding: 10px;
  border: none;
  border-radius: 5px;
  max-width: 500px;
  max-height: 500px;
}
