.navItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;

  width: 3.9rem; /* absolute width, otherwise
  font-weight changes(on hover) impacts the width of button and all elements start moving */
  padding: 0 0.5rem;
  background: none;

  font-size: 0.8rem;
  font-weight: 300;

  transition: opacity 0.2s ease;
  opacity: 0.5;
  user-select: none;
}

.navItem svg {
  font-size: 1rem;
}

.active {
  opacity: 1;
  font-weight: 500;
}

.navItem[disabled] {
  cursor: not-allowed;
  opacity: 0.3;
}
