.navLink {
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;

  width: 3.9rem; /* absolute width, otherwise
  font-weight changes impacts the width of button and all elements start moving */
  padding: 0 0.5rem;
  font-size: 0.8rem;
  transition: opacity 0.2s ease;
  opacity: 0.5;
  font-weight: 300;
}

.navLink svg {
  font-size: 1rem;
}

.active {
  opacity: 1;
  font-weight: 500;
}
