.button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 14px;
  border: none;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.primary {
  background: var(--primary);
  color: var(--background);

  /* &:hover {
    background: rgba(var(--primary-rgb), 0.8);
  } */
}

.secondary {
  --border-width: 2px;
  border: var(--border-width) solid var(--primary);
  color: var(--primary);
  background: transparent;
  padding: calc(12px - var(--border-width)) calc(14px - var(--border-width));
}

.expand {
  width: 100%;
  justify-content: center;
}