.googleButton {
  position: relative;
  overflow: hidden;
}

.googleWrapper {
  position: absolute;
  inset: 0;
  opacity: 0.01;
}

.googleWrapper iframe {
  width: calc(100% + 20px) !important; /* there is margin -10px on sides */
  height: 100%!important;
}

.label {
  flex-grow: 1;
}