.createButton {
  flex: 0 0 var(--40px);
  height: var(--40px);
  background-color: #8731dc;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--18px);
}
