.triggerBtn {
  aspect-ratio: 1;
  border-radius: 5px;
  border: 2px solid rgba(var(--secondary-rgb), 0.4);
  padding: 0.3em 0.5em;
  background: var(--background);
  --hover-background: var(--background);

  svg {
    height: auto;
  }
}

.errorTitle {
  font-size: var(--12px);
  font-weight: 400;
  color: red;
  margin-block-start: 10px;
}

.errorBody {
  max-height: 8lh;
  white-space: pre;
  overflow-y: auto;
}
