.projectPanel {
  display: flex;
  align-items: flex-end;
  aspect-ratio: 1;
  border-radius: 8px;
  background: #555555;
  padding: 16px;
  word-break: break-word;
  text-shadow: 0 0 3px #000, 0 0 5px #000, 0 0 10px #000;
  background-size: cover;
  background-position: center;
}
