.nav {
  grid-area: toolbox;
  justify-content: flex-start;

  button {
    position: relative;
  }

  @media (min-width: 50rem) {
    flex-direction: column;
    gap: 2px;

    button {
      width: auto;
    }
  }
}
