.page {
  height: 100%;
  display: grid;
  grid-template: auto 1fr auto / auto;
  grid-template-areas:
    'header'
    'creator'
    'toolbox';
  justify-items: stretch;
  align-items: stretch;

  @media (min-width: 50rem) {
    grid-template: auto 1fr auto / auto 1fr;
    grid-template-areas:
      'header header header'
      'toolbox creator panels';
  }
}

.panels {
  grid-area: panels;
  width: 200px;
}
