@layer utilities {
  .flex {
    display: flex;
  }

  .space-between {
    justify-content: space-between;
  }

  .justify-start {
    justify-content: flex-start;
  }

  .justify-center {
    justify-content: center;
  }

  .w-full {
    width: 100%;
  }

  .text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .text-nowrap {
    white-space: nowrap;
  }

  .text-balance {
    text-wrap: balance;
  }

  .text-sm {
    font-weight: 200;
    font-size: 14px;
    color: #ddd;
  }

  .child-overflow-fix {
    min-width: 0;
    min-height: 0;
  }

  .subtitle {
    font-size: var(--14px);
    font-weight: 300;
    padding-bottom: 5px;
  }
}
