.resizableWrapper {
  display: inline-grid;

  & > * {
    grid-area: 1 / 1;
  }
}

.label {
  color: var(--secondary);
  margin-inline-end: 3px;
  min-width: 2ch;
  text-align: right;
  user-select: none;
  font-size: var(--12px);
  cursor: pointer;
  align-self: center;
}

.input {
  border: none;
  background: var(--background);
  border-radius: 3px;
  field-sizing: content;

  &:focus {
    outline: solid 4px var(--secondary-accent);
  }
}

.suffix,
.input {
  width: auto;
  min-width: 1em;
  font-size: var(--12px);
  padding: 0.3em 0.5em;
}

.suffix {
  pointer-events: none;
  white-space: nowrap;
  overflow: hidden;
}

.invisible {
  visibility: hidden;
}
