.button {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: var(--13px);
  font-weight: 300;
  color: var(--primary);
  border-radius: 8px;
  background-color: var(--neutral-9);
  transition: background-color 0.2s ease-in-out;
}
