.title {
  font-weight: 300;
  font-size: var(--14px);
  margin-block-end: 5px;
}

.button {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: var(--13px);
  font-weight: 300;
  color: var(--primary);
  padding: 6px 10px;
  border-radius: 8px;
  background-color: rgba(var(--primary-rgb), 0.1);
  transition: background-color 0.2s ease-in-out;
}
