.root {
  position: relative;
  width: 100%;
  min-height: 330px;
  max-width: 280px;
  margin: calc((100dvh - (330px + 150px)) / 2) auto 0;
  place-content: center;
  text-align: center;
  padding: 20px;

  h2 {
    text-wrap: balance;
    font-weight: 500;
    margin-bottom: 14px;
  }
}
.spark1,
.spark2,
.spark3,
.spark4,
.spark5 {
  position: absolute;
  filter: drop-shadow(0px 0px 4px #fff);
  opacity: 0.5;
}

.spark1 {
  right: 7px;
  top: 25px;
  font-size: 30px;
  fill: white;
}

.spark2 {
  left: 20px;
  bottom: 0;
  font-size: 35px;
  fill: white;
}

.spark3 {
  right: 50px;
  top: 0;
  font-size: 20px;
  fill: transparent;
  stroke: #fff;
}

.spark4 {
  right: 0;
  top: 100px;
  font-size: 20px;
  fill: transparent;
  stroke: #fff;
}

.spark5 {
  left: 0;
  bottom: 60px;
  font-size: 20px;
  fill: transparent;
  stroke: #fff;
}
