.addEffectButton {
  color: var(--neutral-2);
  font-size: var(--12px);
  justify-content: center;
  border: 1px solid var(--neutral-6);
  padding: 2px;
  width: 100%;
  margin-top: 8px;

  &:hover {
    background: var(--neutral-9);
  }
}
