.root {
  grid-area: main;
}

.error {
  position: fixed;
  inset: 0;
  background: rgba(var(--background-rgb), 0.75);
  align-content: center;
  padding-inline: max(50vw - 200px, 30px);
  z-index: 1;

  a {
    display: inline flow-root;
    border: 2px solid;
    padding: 10px;
    border-radius: 10px;
  }
}
