.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.avatar {
  position: relative;
  aspect-ratio: 1;
  width: 100px;
  border-radius: 50%;
  background-color: var(--secondary-accent);
  font-size: 70px;
  font-weight: 900;
  color: var(--background-rgb);
  line-height: 100px;
  text-align: center;

  img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    content: '';
    border-radius: inherit;
  }
}
