.tooltip {
  position: absolute;
  left: 100%;
  padding: 0.2em 0.4em;
  font-size: 0.9rem;
  font-weight: 300;
  border: 1px solid var(--primary);
  white-space: nowrap;
  border-radius: 0.4em;
  transition: visibility 0 linear;
  visibility: hidden;
}

.root {
  position: relative;
}

.root:hover .tooltip {
  visibility: visible;
  transition-delay: 0.85s;
}
