.iconButton {
  width: 2rem;
  height: 2rem;
  background: transparent;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 5px;
  transition: background 0.2s ease;
  flex-shrink: 0;

  & svg {
    vertical-align: middle;
  }

  &:hover {
    background: rgba(var(--primary-rgb), 0.1);
  }
}
