@use './knob' as *;

.inputsWrapper {
  @include vars;
  --thumb-radius: calc(0.5 * var(--thumb-diameter));
  --useful-width: calc(100% - var(--thumb-diameter));

  display: grid;
  grid-template-rows: var(--thumb-diameter);
  position: relative;
  align-items: center;
  justify-items: stretch;
  width: 100%;
}

.sliderIsolator {
  anchor-scope: all;
  grid-area: 1 / 1;
  pointer-events: none; /* let clicks pass through */
}

.trackWrapper {
  display: grid;
  align-items: center;
  height: 100%;
  grid-area: 1 / 1;
  margin: 0 var(--thumb-radius);

  & > * {
    grid-area: 1 / 1;
  }
}

.srOnly {
  position: absolute;
  clip-path: inset(50%);
}

@mixin track {
  background: none; /* get rid of Firefox track background */
  height: 100%;
  width: 100%;
  -webkit-appearance: none;
}

.slider {
  background: none; /* get rid of white Chrome background */
  color: color-mix(in srgb, var(--secondary) 40%, var(--background) 60%);
  font: inherit; /* fix too small font-size in both Chrome & Firefox */
  margin: 0;
  display: block;
  width: 100%;
  appearance: none;

  &::-webkit-slider-runnable-track {
    @include track;
  }
  &::-moz-range-track {
    @include track;
  }

  &::-webkit-slider-thumb {
    @include knob;
  }

  &::-moz-range-thumb {
    @include knob;
  }
}

.removeBtn {
  @include remove-button;
}

.sliderIsolator:focus-within {
  .slider::-webkit-slider-thumb {
    @include knob-focus;
  }
  .slider::-moz-range-thumb {
    @include knob-focus;
  }
  .removeBtn {
    display: block;
  }
}
