.base {
  --modal-space-inline: 16px;
  --modal-background: rgb(60, 60, 60);
  align-self: flex-end;
  background: var(--modal-background);
  padding: 16px var(--modal-space-inline) 32px;
  width: 100%;
  translate: 0 100%;
  transition: translate var(--transition-time) ease;
  border-radius: 8px 8px 0 0;

  &:focus {
    outline: none;
  }
}

.open:not(.closed) {
  translate: 0 0;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
}

.title {
  margin-inline: auto;
  color: var(--secondary);
  font-size: var(--13px);
  font-weight: 300;
  text-transform: uppercase;
}

.closeButton {
  position: absolute;
  left: 0;
  color: var(--secondary);
}
